[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
nltk = "*"
spacy = "*"
django = "*"
djangorestframework = "*"
requests = "*"
imap-tools = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.10"
